* {
	margin: 0;
	padding: 0;
	border: 0;
}
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	background: red;
	background: linear-gradient(to right, #b0f3cf , #9890e2);
}
p {
	font-family: 'Quicksand', sans-serif;
	font-size: 50px;
	color: #FFF;
	text-align: center;
	padding-top: 200px; 
}

@media screen and (max-width: 768px) {
	p {
		font-size: 30px;
	}
}
@media screen and (max-width: 480px) {
	p {
		font-size: 20px;
	}
}